.logoContainer {
  display: inline-block;
}

.logo1,
.logo2 {
  font-size: 100px;
  font-weight: bold;
}

.logo1 {
  color: black;
}

.logo2 {
  color: white;
}

.subtitulo {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

#inicioCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

/* Lista de publicações */
.lista-publicacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  margin-bottom: 48px;
}

.publicacao {
  background: #d9d9d9;
  border-radius: 32px;
  box-shadow: 8px 8px 4px #6D6C69;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.publicacao h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.publicacao p {
  font-size: 16px;
  margin-bottom: 2rem;
  margin-left: 15px;
  margin-right: 15px;
}

.fundoCard {
  height: 128px;
  width: 100%;
  background-color: #ACD4AE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.fundoCard img {
  height: 64px;
}

/* Botões */
.botao {
  gap: 0.5rem;
  flex-wrap: wrap;
  background: #ACD4AE;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  width: 50%
}

.botao:hover {
  background: #8FD191;
}