* {
    font-weight: bold;
}

body {

  font-family: "Lexend", sans-serif;
  background-color: #FFFAF3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu {
  background-color: #d9d9d9;
  width: 40rem;
  height: 31rem;
  border-radius: 1rem;
  box-shadow: #7B7B7B 10px 10px ;
}


.menuSuperior {
  height: 8rem;
  background-color: #36894E;
  padding: 1rem;
  display: flex;
  flex-direction: column;     
  align-items: center;        
  gap: 0.5rem;
  border-radius: 0.5rem 0.5rem 0px 0px;       
} 

.menuSuperior img {
  max-width: 6.5rem;        
  border-radius: 100px;       
}

#login {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.botao {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

label {
  margin-bottom: 0.3rem;
}

input {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  height: 2.5rem;
  padding-left: 10px;
}

button {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 12.5rem;
  margin-right: 15rem;
  height: 3rem;
  width: 8rem;
  border: none;
  background-color: #36894E;
  cursor: pointer;
  color: white;
}