#footer-brasil {
  background: none repeat scroll 0% 0% #00420c;
  padding: 1em 0px;
  max-width: 100%;
}

/* parte do <h2>Oportunidades Disponíveis</h2>*/
.pesquisa {
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  /*tamanho da fonte de forma responsiva*/
  text-align: center;
  font-size: 36px;
  margin-top: 2rem;
  /*espaço anterior*/

}

.pesquisa h2 {
  font-size: 28px;
}

/*Campo para pesquisar*/
.pesquisa2 {
  display: flex;
  /*rorna flexível, itens alinhados horizontalmente*/
  align-items: center;
  text-align: center;
  display: inline-flex;
  gap: 5px;
  /*Espaço entre os itens do flex*/
  margin-top: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  /*Espaço interno lateral*/
  margin-left: auto;
  margin-right: auto;

}

/*campo de pesquisa */
.pesquisa2 input[type="text"] {
  flex: 1;
  min-width: 0;
  width: 100%;
  height: 55px;
  padding: 6px 10px;
  font-size: 24px;
  border-radius: 18px;
  background-color: #D9D9D9;
  border: none;
  outline: none;

}

.search-btn {
  flex-shrink: 0;
  /*Não deixa o botão encolher dentro do flex*/
  background: none;
  border: none;
  cursor: pointer;
  /*O icone n mão não aparece*/
  display: flex;
  /*display:flex, align-items:center,justify-content:center vão  Centralizar o SVG) dentro do botão*/
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  /*Espaço entre o campo de pesquisa e os cards*/
}

/*Tamanho da Lupa*/
.search-btn svg {
  width: 60px;
  height: 80px;

}

.card-header button {
  height: 40px;
  padding: 0 12px;
  font-size: 18px;

}

#align-cards-container {
  display: flex;
  justify-content: center;
}

.cards-container {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  margin: 40px;
}

.card {
  background-color: #D9D9D9;
  border-radius: 32px;
  box-shadow: 8px 8px 4px #6D6C69;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 320px;
  min-width: 260px;
}

.card-header {
  background-color: #36894E;
  padding: 16px;
  text-align: left;
  height: 90px;
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
}


.card-header h3 {
  margin: 0;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  /*A fonte não fica menor que 1.5rem (24px),3vw o tamanho da fonte crescer proporcional à largura da tela, a fonte não passa de  2.25rem (36px)*/
  color: white;
  text-align: left;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
  /* equivalente a 24px, mas fica mais flexível */
  font-size: clamp(0.5rem, 3vw, 1rem);
  line-height: 1.2;
}

.card-body h4 {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #36894E;
  font-size: 24px;
  text-align: left;
}

.card-body ul,
.card-body ol {
  margin: 0 0 16px 20px;
}

.card-body p {
  margin-bottom: 1rem;
  /* espaço entre os parágrafos */
}

.card-button {

  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: auto;
  /* empurrou o campo com link para o canto inferior do card*/
  background-color: #e7f3ff;
  color: #0079D0;
  text-decoration: none;
  border-radius: 18px;
  border: 1px solid #b0c4de;
  font-weight: 600;
  transition: background 0.3s;
  margin-top: auto;
  margin-bottom: 3rem;
  /*Distância do fundo do card até o campo com o link*/
  cursor: default;
  /* remove a mão ao passar o mouse*/

}


.centro {
  text-align: center;
  margin-top: auto;
}

.prazo-verde {
  font-weight: bold;
  color: #36894E;
}